### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [3]:
unique_SN = len(purchase_data["SN"].unique())
unique_SN_df = pd.DataFrame({"Total Players": [unique_SN]})
unique_SN_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [5]:
unique_items = len(purchase_data["Item Name"].unique())
average_price = '${:,.2f}'.format(purchase_data["Price"].mean())
number_of_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = '${:,.2f}'.format(purchase_data["Price"].sum())
unique_items_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                               "Average Price": [average_price],
                               "Number of Purchases": [number_of_purchases],
                               "Total Revenue": [total_revenue]})
unique_items_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Create new grouped data frame by gender
gender_groups = purchase_data.groupby(['Gender'])

# Count total players by age category and drop any NA values
total_per_gender = gender_groups["SN"].nunique(dropna = True) 
total_genders = total_per_gender.sum()

gender_percent = total_per_gender/total_genders
gender_counts_df = pd.DataFrame(total_per_gender)
demo_df = gender_counts_df.rename(columns={"SN":"Total Count"})
demo_df['Percentage of Players'] = (gender_percent)*100

# Format the data frame with no index name in the corner
demo_df.index.name = None

# Format percentage with two decimal places 
demo_df.style.format({"Percentage of Players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
grouped_df = purchase_data.groupby(['Gender'])

purchase_count = grouped_df["Purchase ID"].count()
average_price = grouped_df["Price"].mean()
total_purchase = grouped_df["Price"].sum()
avg_total_pp = total_purchase/total_genders
#avg_total_pp

summary_df=pd.DataFrame({"Purchase Count":purchase_count,
                        "Average Purchase Price":average_price,
                        "Total Purchase Value": total_purchase,
                        "Avg Total Purchase per Person": avg_total_pp})

# Format columns for currency
summary_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Create bins in which to place values based upon age
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new column inside of the DataFrame
age_df = purchase_data
age_df["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_labels)

# Create new data frame with the added "Age Group" and group it
age_groups = age_df.groupby("Age Group")

# Count total players by age category and drop any NA values
total_age = age_groups["SN"].nunique(dropna = True) 

# Calculate percentages by age category 
percent_age = (total_age/unique_SN) * 100

# Create data frame with obtained values
age_demo = pd.DataFrame({"Total Count": total_age, "Percentage of Players": percent_age})

# Format the data frame with no index name in the corner
age_demo.index.name = None

# Format percentage with two decimal places 
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Create bins in which to place values based upon age
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place the data series into a new column inside of the DataFrame
purchase_df = purchase_data
purchase_df["Purchase Group"] = pd.cut(purchase_data["Purchase ID"],bins, labels=group_labels)

# Create new data frame with the added "Age Group" and group it
age_purchase_groups = purchase_df.groupby("Age Group")
age_purchase_groups.head()

# Count total pruchases by age category and drop any NA values
count_group_purchase = age_purchase_groups["Purchase ID"].nunique(dropna = True)
average_group_purchase = age_purchase_groups["Price"].mean()
total_group_purchase = age_purchase_groups["Price"].sum()

summary_df=pd.DataFrame({"Purchase Count":count_group_purchase,
                        "Average Purchase Price":average_group_purchase,
                        "Total Purchase Value": total_group_purchase,
                        "Avg Total Purchase per Person": total_group_purchase})

# Format columns for currency
summary_df.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame